h1 {
    color: palevioletred;
    font-style: italic;
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    font-size: 16px;
    border: 1px solid aquamarine;
}

nav li{
    list-style: none;
    text-decoration: none;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 10px;
}

nav a {
    text-decoration: none;
    color: gray;
    padding: 5px; 
}

a:hover {
    background-color: aquamarine;
    color: white
}

img:hover {
    opacity: 0.5;
}
